<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">SERIAL</th>
      <th scope="col">ID</th>
      <th scope="col">TITLE</th>
      <th scope="col">STATUS</th>
      <th scope="col">CREATED</th>
      <th scope="col">MODIFIED</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of curentItems(); index as i">
      <td>
        {{ i }}
      </td>
      <td>
        {{ item.id }}
      </td>
      <td>
        {{ item.title }}
      </td>
      <td>
        {{ item.status }}
      </td>
      <td>
        {{ item.createdOn | date: "dd-MM-yyyy" }}
      </td>
      <td>
        {{ item.statusChangedOn }}
      </td>
    </tr>
  </tbody>
</table>
